<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jumpster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94014CD71DCD0B93007DC371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94014CEB1DCD0B94007DC371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94014CF61DCD0B94007DC371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
